<!DOCTYPE html>
<html>
<head>
  <title>Admin Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'admin' %>
  <link rel="stylesheet" href="/assets/posts.css" />
</head>
<body>

<%= yield %>

</body>
</html>
